// Utilities
@import "../../variables.scss";
/*$dark-grey: #1e1e24;
$medium-green: #92140c;
$dark-green: #fff8f0;
$medium-grey: #ffcf99;
$light-green: #111d4a; */
.header-main {
  top: 0;
  width: 100vw;
  height: 10vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-grey;

  .content-right {
    button {
      min-width: 100px;
    }
    button:hover {
      background-color: $dark-green;
    }
    width: 50vw;
    display: flex;
    .button-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .header-button {
      background-color: $dark-green;
      color: $dark-grey;
      border-color: $medium-grey;
      min-width: 80px;
    }
    .header-button:active {
      border-color: $medium-grey;
    }
    .header-button:focus {
      box-shadow: 0 0 0 0.2rem $medium-green;
    }
  }
}
.logo {
  background-color: $medium-grey;
}
.active-link {
  background-color: $medium-grey;
}
