@import "../../variables.scss";
/*$grey: #1e1e24;
$red: #92140c;
$white: #fff8f0;
$peach: #ffcf99;
$blue: #111d4a; */

.project-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 20vh;
  width: 50vw;
}
