@import "../../variables.scss";
/*$grey: #1e1e24;
$red: #92140c;
$white: #fff8f0;
$peach: #ffcf99;
$blue: #111d4a; */
.footer-main {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  background-color: $peach;
}
