<div class="main-container">
  <div class="nested-main">
    <button [routerLink]="['home']" mat-fab alt="" class="right-arrow"></button>
  </div>

  <ngb-carousel class="carousel" *ngIf="images" [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <img [src]="image" alt="Random slide" />
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
