<div class="main-container">
  <div class="nested-main">
    <button [routerLink]="['home']" mat-fab alt="" class="right-arrow"></button>
  </div>

  <ngb-carousel class="carousel" *ngIf="images" [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let image of images; index as i">
      <div class="picsum-img-wrapper">
        <img [src]="image" alt="Random slide" />
      </div>
      <div class="carousel-caption">
        <h2>{{captions[i]}}</h2>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
