@import "../variables.scss";
/*$dark-grey: #1e1e24;
$medium-green: #92140c;
$dark-green: #fff8f0;
$medium-grey: #ffcf99;
$light-green: #111d4a; */

.main-container {
  width: 100vw;
  height: 82vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  img {
  filter: blur(4px);
  }
}
.carousel-caption {
  margin:auto;
  text-align: center;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 8px #000000;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  margin-bottom: 12%;
  width: 50%;
}
.right-arrow {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/assets/arrow-right.jpg");
  width: 100px;
  height: 100px;
  background-color: $medium-grey;
  box-shadow: 1px 1px 1px black;
  position: absolute;
  right: 10%;
  top: 45%;
}

.carousel {
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: -5;
  width: 100vw;
  overflow-y: hidden;
  height: 82vh;
  img {
    width: 100%;
    height: 82vh;
    display: block; /* remove extra space below image */
  }
}

@media screen and (max-width: 580px) {
  .carousel-item {
    height: 100vh;
  }
  img {
    height: 100vh;
  }
}
