.main-container {
  background-image: url("../../assets/assets/board.jpg");

  width: 100vw;
  height: 82vh;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
