@import "../variables.scss";
/*$grey: #1e1e24;
$red: #92140c;
$white: #fff8f0;
$peach: #ffcf99;
$blue: #111d4a; */

.main-container {
  background-image: url("../../assets/assets/board.jpg");
  width: 100vw;
  height: 82vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.right-arrow {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/assets/arrow-right.jpg");
  width: 100px;
  height: 100px;
  background-color: $peach;
  box-shadow: 1px 1px 1px black;
  position: absolute;
  right: 10%;
  top: 45%;
}
