@import "../variables.scss";
/*$dark-grey: #1e1e24;
$medium-green: #92140c;
$dark-green: #fff8f0;
$medium-grey: #ffcf99;
$light-green: #111d4a; */
.right-arrow-button {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/assets/arrow-right.jpg");
  width: 100px;
  height: 100px;
  background-color: $medium-grey;
  box-shadow: 1px 1px 1px black;
  position: absolute;
  right: 10%;
  top: 45%;
  border-radius: 50%;
  z-index: 50;
}
